
  
  /* cyrillic-ext */

  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../../../public/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../../../public/assets/fonts/Poppins-Bold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../../../public/assets/fonts/Poppins-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../../../public/assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../../../public/assets/fonts/Poppins-Black.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../../../public/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
    
  }
  /* cyrillic */
